#LoginDashboardWrapper{
	width: 99.5%;
	height: 100%;
}
#LoginDisplayContent{
	margin: 0 auto;
	width: 450px;
	height: 500px;
	border: solid;
	top: 40px;
	position: relative;
	border-width: 0.1px;
	border-color: #717272;
	-webkit-box-shadow: -1px 2px 20px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 20px -9px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 20px -9px rgba(0,0,0,0.75);
}

#LoginSubmitButton{
	border-radius: 15px;
	-webkit-box-shadow: -1px 2px 16px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 16px -3px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 16px -3px rgba(0,0,0,0.75);
}