.customers_view_wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.customer_view_header {
  height: 50px;
  width: 95%;
  position: relative;
  vertical-align: top;
  top: 0;
  margin: 0;
  display: flex;
  margin: 0 auto;
}
#customer_view_search {
  height: 80%;
  width: 180px;
  position: relative;
  outline: none;
  border: none;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 10px;
  top: 5%;
  font-size: 13px;
  padding-left: 10px;
  margin-left: 20px;
}
.customer_view_search_icon {
  font-size: 25px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}
.customer_view_data {
  width: 90%;
  padding-bottom: 50px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 23px;
}
.customer_view_empty {
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 150px;
  height: 5%;
  font-weight: bold;
  text-align: center;
}
.customer_view_eachuser {
  width: 90%;
  height: 20%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  border-bottom: solid;
  border-width: 0.4px;
  margin-top: 25px;
  padding-left: 5%;
  cursor: pointer;
}
.customer_view_userwrapper {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.customer_view_page_button_wrapper {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  width: 100%;
  position: relative;
  margin-left: -150px;
  margin-top: 50px;
}
.customer_view_next,
.customer_view_prev {
  position: relative;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.customer_view_select_page_wrapper {
  width: 60px;
  height: 60%;
  border: solid;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: 20%;
}
.customer_view_select_dom {
  height: 100%;
  width: 100%;
  position: absolute;
  outline: none;
  border: none;
  background-color: transparent;
}
option {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer_view_filter_label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-left: 15px;
}
.customer_view_filter_wrap {
  position: relative;
  height: 60%;
  top: 16%;
  border: solid;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
}
#customer_view_filter_select {
  height: 90%;
  outline: none;
  border: none;
  background-color: transparent;
}
