@font-face{
	font-family: 'Nunito-Regular';
	src: url('./Nunito-Regular.ttf');
}

@font-face{
	font-family: 'Pacifico-Regular';
	src: url('./Pacifico-Regular.ttf');
}

@font-face{
	font-family: 'DancingScript-Regular';
	src: url('./DancingScript-Regular.ttf');
}
